# игнорировать зависимости и кэш
node_modules
packages/**/node_modules
.pnpm
.pnpm-debug.log
packages/**/.pnpm

# игнорировать сборки и мусор
package-lock.json
dist
build
.next
tmp
.DS_Store
Thumbs.db
yarn.lock
*.log
