# Connection string to external MS SQL
DB_CONNECTION=Server=server;Database=Photobank;User Id=user;Password=pass;Encrypt=False;

# Telegram bot credentials
BOT_TOKEN=your_token
API_EMAIL=admin@example.com
API_PASSWORD=secret

# Azure OpenAI settings
VITE_AZURE_OPENAI_API_VERSION=2024-02-15-preview
