.git
.vs
.vscode
.idea
.DS_Store

**/bin/
**/obj/
**/out/
TestResults/
artifacts/
**/*.md
**/*.trx
*.user
*.suo
**/*.nupkg
**/packages/
**/.nuget/

# если фронт тут же — убираем его из контекста
frontend/
**/node_modules/
