services:
  insightface-api:
    build: .
    ports:
      - "5555:5555"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    runtime: nvidia
