@page "/photooverview"
@inherits PhotoOverviewBase

<h1 class="page-title">All photos</h1>

@if (Photos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Photo ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var photo in Photos)
            {
                <tr>
                    <td>@photo.Id</td>
                    <td>@photo.Name</td>
                </tr>
            }
        </tbody>
    </table>
}