@page "/upload"
@using Radzen
@using Microsoft.AspNetCore.Authorization
@inherits UploadBase
@rendermode InteractiveServer

@attribute [Authorize]

<div class="row">
    <div class="col-xl-6">
        <RadzenUpload Multiple="false" Accept="image/*" Url="upload/single" Progress="@(OnProgress)" Complete="@(OnComplete)" />
    </div>
</div>            
<div class="row">
    <div class="col-xl-6">
        <RadzenProgressBar Value="@Progress" ShowValue="true" Mode="ProgressBarMode.Determinate" />
    </div>
</div>
